body{
    background: rgb(255, 255, 255);
    font: normal 15pt Arial;
    text-align: center;
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
}

section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.txt-entrada{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.btn{
    margin-top: 20px;
    font-size: 18px;
}

table{
    height: 150px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}